<h1><strong>{{title}}</strong></h1>

<nav>
  <a routerLink="/home" style="margin-right: 5px">Home page</a>
  <a routerLink="/products" style="margin-right: 5px">Products</a>
  <a routerLink="/about" style="margin-right: 5px">About</a>
  <div style="display: inline" *ngIf="isAdmin()">
    <a routerLink="/admin" style="margin-right: 5px">Admin</a>
  </div>
  <div style="display: inline" *ngIf="isOwner()">
    <a routerLink="/owner" style="margin-right: 5px">Owner</a>
  </div>
  <div style="display: inline" *ngIf="isClient()">
    <a routerLink="/client" style="margin-right: 5px">Client</a>
  </div>
  <a routerLink="/cart" style="margin-right: 5px">Cart</a>
  <div style="display: inline" *ngIf="!isUserLogged()">
    <a routerLink="/login" style="margin-right: 5px">Login</a>
    <a routerLink="/register" style="margin-right: 5px">Register</a>
  </div>
  <div style="display: inline" *ngIf="isUserLogged()">
    <a routerLink="/logout" style="margin-right: 5px" (click)="logoutUser()">Logout</a>
  </div>
  <hr>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  <br>
  <p style="text-align: center"><strong>Made by Mateusz Ogrodniczak 2020</strong></p>
</div>
